**/__pycache__/
**/.DS_Store/

**/.idea/workspace.xml
**/.idea/tasks.xml

config/env/local.env
data/1151-commits.csv
data/herzig.csv
data/berger.csv
labeled-datasets/1151-commits.labeled.both.csv
data/200k-commits.csv
data/200k-commits-issues.csv
data/200k-commits-files.csv
data/200k-commits.csv
data/200k-commits-files.csv
data/200k-commits.csv
data/200k-commits-files.csv
data/200k-commits-files.csv
data/200k-commits-link-issues.csv
data/200k-commits-manual-labels.csv
data/herzig.csv
data/1151-commits.csv
data/berger.csv
data/1151-commits.csv
data/berger.csv
data/200k-commits-link-issues.csv
data/herzig.csv
data/200k-commits-manual-labels.csv
data/200k-commits-files.csv
data/200k-commits-files.csv
data/200k-commits-files.csv
data/200k-commits-manual-labels.csv
data/200k-commits-manual-labels.csv
data/200k-commits-files.csv
data/200k-commits-files.csv
data/200k-commits-files.csv
data/200k-commits-files.csv
data/200k-commits-files.csv
/fine-grained-refactorings.zip
data/200k-commits-files.csv
