absl-py==0.11.0
atpublic==2.1.2
bcrypt==3.2.0
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
 cryptography==3.3.1
dask==2020.12.0
decorator==4.4.2
dictdiffer==0.8.1
distributed==2020.12.0
distro==1.5.0
dpath==2.0.1
dulwich==0.20.15
dvc==1.11.11
flatten-dict==0.3.0
flufl.lock==3.2
fsspec==0.8.5
ftfy==5.8
funcy==1.15
future==0.18.2
gitdb==4.0.5
GitPython==3.1.12
grandalf==0.6
grpcio==1.34.0
HeapDict==1.0.1
idna==2.10
invoke==1.5.0
jinja2==2.11.2
joblib==1.0.0
jsonpath-ng==1.5.2
locket==0.2.0
mailchecker==4.0.3
Markdown==3.3.3
MarkupSafe==1.1.1
msgpack==1.0.2
munkres==1.1.4
nanotime==0.5.2
networkx==2.3
nltk==3.5
numpy==1.19.4
numpyencoder==0.3.0
pandas==1.2.0
paramiko==2.7.2
partd==1.1.0
pathlib2==2.3.5
phonenumbers==8.12.16
ply==3.11
protobuf==3.14.0
psutil==5.8.0
pyasn1==0.4.8
pycparser==2.20
pydot==1.4.1
Pygments==2.7.3
pygtrie==2.3.2
pynacl==1.4.0
python-benedict==0.23.2
python-dateutil==2.8.1
python-fsutil==0.4.0
python-slugify==4.0.1
pytz==2020.5
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
rich==9.6.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scikit-learn==0.21.3
scipy==1.6.0
shortuuid==1.0.1
shtab==1.3.4
six==1.15.0
smmap==3.0.4
snorkel==0.9.6
sortedcontainers==2.3.0
tabulate==0.8.7
tblib==1.7.0
tensorboard==1.15.0
text-unidecode==1.3
toolz==0.11.1
torch==1.7.1
tornado==6.1
tqdm==4.55.1
typing-extensions==3.7.4.3
urllib3==1.26.2
voluptuous==0.12.1
wcwidth==0.2.5
Werkzeug==1.0.1
xmltodict==0.12.0
zc.lockfile==2.0
zict==2.0.0
