-n bugginess_combine_labels_idans-dataset2

-d classifiers/bugginess-transformer/combine_labels.py
-d labeled-datasets/datasets.idans-dataset2.labeled.csv
-d metrics/bugginess/transformer/idans-dataset2/assigned_labels.csv

-o labeled-datasets/datasets.idans-dataset2.labeled.both.csv

python classifiers/bugginess-transformer/combine_labels.py labeled-datasets/datasets.idans-dataset2.labeled.csv metrics/bugginess/transformer/idans-dataset2/assigned_labels.csv labeled-datasets/datasets.idans-dataset2.labeled.both.csv
