-n bugginess_transformer_train

-d classifiers/bugginess-transformer/run.py
-d classifiers/bugginess-transformer/train.sh
-d labeled-datasets/datasets.bugginess-train.labeled.csv
-d requirements.txt

-O models/config.json
-O models/merges.txt
-o models/pytorch_model.bin
-O models/special_tokens_map.json
-O models/tokenizer_config.json
-o models/training_args.bin
-O models/vocab.json

bash classifiers/bugginess-transformer/train.sh labeled-data/bugginess.csv
