-n preprocess_bugginess_idan2

-d data-preprocessing/idans-dataset2
-d downloaded-data/plain_commits_batch_1m_test_labels.csv.zip
-o data/bugginess/test/plain_commits_batch_1m_test_labels.csv

bash data-preprocessing/idans-dataset2/preprocess.sh /Users/hlib/dev/bohr/