-n preprocess_bugginess_idan:

-d downloaded-data/plain_commits_batch1.csv.zip
-o data/bugginess/test/plain_commits_batch1.csv

unzip downloaded-data/plain_commits_batch1.csv.zip -d data/bugginess/test