name: calculate-metrics
on: [pull_request]
jobs:
  run:
    runs-on: [ubuntu-latest]
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: |

          sudo apt-get update && sudo apt-get install p7zip-full
          pip install -r requirements.txt
          dvc pull -r gdrive data/test downloaded-data/b_b.7z
          dvc repro

          git fetch --prune 
          dvc metrics diff --show-md master >> report.md
          cml-send-comment report.md
